.photo {
  min-height: calc(100vh - 129.5px);
  padding: 35px 15px;
  .txt-wrapper {
    margin: 35px 0;
    .main-txt {
      color: #333;
      font-weight: 500;
    }
    .txt {
      color: #666;
      font-size: 14px;
      line-height: 1.5;
      margin: 15px 0;
    }
    .primary-btn {
      padding: 0 20px;
      gap: 9px;
      .upload-icon {
        width: 12px;
        height: 12px;
        background-image: url("../../../public/img/upload-icon.png");
        background-size: 100% 100%;
      }
    }
  }
  .photo-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    .photo-list {
      aspect-ratio: 1 / 1;
      width: calc(50% - 7.5px);
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }
      button {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url(../../../public/img/photo-close.png);
        background-size: 100% 100%;
      }
    }
  }
  .btn-wrapper {
    margin-top: 35px;
    button {
      width: 100%;
    }
  }
}
